<section id="services" class="section">
    <div class="container">
        <h2 class="text-center">Наши услуги</h2>
        <div class="services-grid">
            <div class="service-card">
                <div class="service-icon"><img src="assets/svg/fire-shield-svgrepo-com.svg"></div>
                <h3>Пожарная безопасность</h3>
                <p>Мы предлагаем полный комплекс услуг: проектирование, монтаж и обслуживание систем пожарной
                    безопасности. Также проводим аудиторское обследование для оценки эффективности ваших текущих
                    систем.</p>
            </div>
            <div class="service-card">
                <div class="service-icon"><img src="assets/svg/security-camera-svgrepo-com.svg"></div>
                <h3>Видеонаблюдение</h3>
                <p>Обеспечьте безопасность вашего объекта с помощью современных систем видеонаблюдения. Установка,
                    настройка и обслуживание — всё под ключ.</p>
            </div>
        </div>
        <div class="services-grid">
            <div class="service-card">
                <div class="service-icon"><img src="assets/svg/id-card-svgrepo-com.svg"></div>
                <h3>СКУД (Системы контроля и управления доступом)</h3>
                <p>Разработаем и внедрим надежные системы контроля и управления доступом, которые обеспечат высокий
                    уровень безопасности на вашем объекте.</p>
            </div>
            <div class="service-card">
                <div class="service-icon"><img src="assets/svg/shield-security-svgrepo-com.svg"></div>
                <h3>Охранные системы</h3>
                <p>Предлагаем интегрированные охранные решения для защиты вашего имущества и персонала. Проектирование,
                    установка и сервисное сопровождение.</p>
            </div>
        </div>
    </div>
</section>