<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Интегрированные решения</h3>
                <p>Профессиональные решения для вашей безопасности</p>
            </div>
            <div class="footer-section">
                <h3>Услуги</h3>
                <ul>
                    <li><a href="#services">Пожарная безопасность</a></li>
                    <li><a href="#services">Видеонаблюдение</a></li>
                    <li><a href="#services">СКУД</a></li>
                    <li><a href="#services">Охранные системы</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Контакты</h3>
                <ul>
                    <li>
                        <img class="service-icon-footer" src="assets/svg/white-phone.svg">
                        <a href="tel:+7 (923)191-00-66">+7 (923)191-00-66</a>
                    </li>
                    <li>
                        <img class="service-icon-footer" src="assets/svg/white-mail.svg">
                        <a href="mailto:info@is54.ru">info&commat;is54.ru</a>
                    </li>
                    <li>
                        <img class="service-icon-footer" src="assets/svg/white-address.svg">
                        <a href="https://2gis.ru/novosibirsk/firm/70000001092012373">г. Новосибирск, ул. Ереванская, д. 19 офис 5</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Информация</h3>
                <span class="text-center">Общество с ограниченной ответственностью "Интегрированные решения"</span>
                <ul>
                    <li>ИНН: 5402071152</li>
                    <li>ОГРН: 1225400005160</li>
                    <li>КПП: 540201001</li>
                    <li>ОКПО: 75016131</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p><strong>&copy;</strong> ООО "Интегрированные решения". Все права защищены. {{ currentYear }}</p>
        </div>
    </div>
</footer>